*.ascdat
*.a
*.o
*.lo
*.Po
*.Plo
*.la
Makefile
asc.appdata.xml
autom4te.cache/*
Doxyfile
asc.spec
config.h
config.log
config.status
data/dialog/asc2_dlg.zip
data/main.d
data/main.mak
extra-data/pbp.d
extra-data/pbp.mak
getmusic
libtool
source/tools/linux/asc_demount
source/tools/linux/asc_mount
source/tools/linux/asc_weaponguide
source/unix/asc/asc
source/unix/asc/unittester
source/unix/mapeditor/asc_mapedit
source/unix/pbpedit/asc_pbpedit
stamp-h1
*.obj
*.lib
*.pdb
*.exe
*.idb
.*.swp
source/win32/**/*.suo
source/win32/**/*.ncb
source/win32/**/*.exp
*BuildLog.htm
*.intermediate.manifest
*.user
source/win32/msvc/**/*.dep
*.exe.embed.manifest
source/libs/loki-0.1.6/**/*.dep
source/win32/msvc/Release/**/*.zip
installer/asc.nsi
unittester/unittest-data/asc2.cache
unittester/unittest-data/asc2_dlg.zip
asc-full-*.zip
source/unix/asc/.deps/
